[submodule "liquid-dsp"]
	path = liquid-dsp
	url = https://github.com/HAMNET-Access-Protocol/liquid-dsp
[submodule "libfec"]
	path = libfec
	url = https://github.com/HAMNET-Access-Protocol/libfec
[submodule "tests/unity"]
	path = tests/unity
	url = https://github.com/ThrowTheSwitch/Unity
